#threepaybtn {
	margin-top: 16px;
	background-color: #1a56db;
}

#threepaybtn a {
	text-decoration: none;
	align-self: center;
	color: white;
}

#threepaybtn a img {
	width: 36px;
	height: 24px;
}

#threepaybtn a div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6px;
}

.toast {
	position: fixed;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	background-color: #318b15;
	color: #fff;
	padding: 12px 24px;
	border-radius: 4px;
}
